<h3>Incomes</h3>
<form #expensesForm="ngForm" novalidate>
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="category"
           [(ngModel)]="currentIncome.name">
  </div>
  <div class="form-group">
    <select class="form-control" [(ngModel)]="currentIncome.parent_id" name="parent_id">
      <option value="null" disabled selected>-</option>
      <option *ngFor="let expense of filteredIncomes" value={{expense.id}}>
        {{expense.name}}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary"
          *ngIf="!currentIncome.id"
          (click)="createIncome()"
          [disabled]="!currentIncome.name">Add expenses
  </button>
  <button type="button" class="btn btn-primary"
          *ngIf="currentIncome.id"
          (click)="updateIncome()">Save changes
  </button>
  <button type="button" class="btn btn-primary"
          *ngIf="currentIncome.id"
          (click)="cancelEditing(expensesForm)">Cancel
  </button>
</form>
<div>
  <ul>
    <li *ngFor="let expense of expenses">
      {{expense.name}}
      <button type="button" aria-label="delete" (click)="removeIncome(expense.id)">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
      <button type="button" aria-label="edit" (click)="makeEditable(expense)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
      <ul *ngIf="expense.sub_categories">
        <li *ngFor="let subIncome of expense.sub_categories">
          {{subIncome.name}}
          <button type="button" aria-label="delete" (click)="removeIncome(subIncome.id, expense.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <button type="button" aria-label="edit" (click)="makeEditable(subIncome, expense)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </li>
  </ul>
</div>
