<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">budget.biz.ua</h1>
        <hr/>
      </div>
    </div>
    <div class="main-login main-center">
      <form (ngSubmit)="onSubmit()" class="sign-in-form">

        <div class="form-group" *ngIf="errorMsg">
          <div class="alert alert-danger" role="alert">{{errorMsg}}</div>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                 [(ngModel)]="login.email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name='password' id="password" placeholder="Password"
                 [(ngModel)]="login.password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
