<div class="transaction-group">

  <h2 class="text-muted page-title">
    Transaction list
  </h2>


  <md-card *ngFor="let transaction of transactions" class="transaction-item">
   <!-- <h3 md-line>{{transaction.date |date:'d MMM y'}} </h3>-->
    <p md-line>
      <span>{{transaction.category_name}} </span>
      <span> {{transaction.amount}} </span>
      <span class="demo-2"> -- {{transaction.currency_name}} </span>
      <span>{{transaction.description}}</span>
    </p>

  </md-card>
</div>
