md-card {
  .b-yellow {
    background-color: yellow;
  }

  .b-green {
    background-color: green;
    color: white;
  }

  .b-gray {
    background-color: grey;
    color: white;
  }

  .b-orange {
    background-color: orange;
  }

  .b-blue {
    background-color: #0000ed;
    color: white;
  }
}