//
// Margins
//

// remove

.u-margin-t-n {
  margin-top: 0 !important;
}

.u-margin-b-n {
  margin-bottom: 0 !important;
}

.u-margin-l-n {
  margin-left: 0 !important;
}

.u-margin-r-n {
  margin-right: 0 !important;
}

.u-margin-a-n {
  margin: 0 !important;
}

.u-margin-v-n {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-margin-h-n {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// default

.u-margin-t {
  margin-top: 10px!important;
}

.u-margin-b {
  margin-bottom: 10px!important;
}

.u-margin-l {
  margin-left: 10px!important;
}

.u-margin-r {
  margin-right: 10px!important;
}

.u-margin-a {
  margin: 10px!important;
}

.u-margin-v {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.u-margin-h {
  margin-left: 10px!important;
  margin-right: 10px!important;
}

// large

.u-margin-t-l {
  margin-top: 20px !important;
}

.u-margin-b-l {
  margin-bottom: 20px !important;
}

.u-margin-l-l {
  margin-left: 20px !important;
}

.u-margin-r-l {
  margin-right: 20px !important;
}

.u-margin-a-l {
  margin: 20px! important;
}

.u-margin-v-l {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.u-margin-h-l {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

// small

.u-margin-t-s {
  margin-top: 5px !important;
}

.u-margin-b-s {
  margin-bottom: 5px !important;
}

.u-margin-s-s {
  margin-left: 5px !important;
}

.u-margin-r-s {
  margin-right: 5px !important;
}

.u-margin-a-s {
  margin: 5px !important;
}

.u-margin-v-s {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.u-margin-h-s {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
